* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #9793e5;
    --secondary: #0084fd;
    --secondary-light: #b4ddfe;
    --accent: #fdc15f;
    --dark: #323332;
    --darker: #000;
    --light: #fffefe;

}

/*#region debug*/
/* .debug header {
    height: 70px;
} */

.debug .heading,
.partner {
    border: 1px solid black;

}

.debug .foto {
    background-color: red;
}

.debug .get_started {
    height: 400px;
}

.debug footer {
    height: 200px;
}

[class^="col_"] {
    height: 400px;
    border: 1px solid black;
}


/*region utilities*/
.container {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_1 {
    width: calc((100% /12)*1);
}

.col_2 {
    width: calc((100% /12)*2);
}

.col_3 {
    width: calc((100% /12)*3);
}

.col_4 {
    width: calc((100% /12)*4);
}

.col_5 {
    width: calc((100% /12)*5);
}

.col_6 {
    width: calc((100% /12)*6);
}

.col_7 {
    width: calc((100% /12)*7);
}

.col_8 {
    width: calc((100% /12)*8);
}

.col_9 {
    width: calc((100% /12)*9);
}

.col_10 {
    width: calc((100% /12)*10);
}

.col_11 {
    width: calc((100% /12)*11);
}

.col_12 {
    width: 100%;
}

/*#endregion utilities*/

/*#region common*/
body {
    font-family: 'Inria Sans', sans-serif;
}

/*#endregion common*/

/*#region header*/
header {
    background-color: var(--secondary);
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;
}

.nav_container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: var(--light);
}

.nav_container li {
    margin-left: 2rem;
}

.nav_container li a {
    color: var(--darker);
    text-decoration: none;
    background-color: var(--light);
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.nav_container li:last-child {
    display: none;
}


/*#endregion header*/

/*#endregion main*/
.planning,
.benefits,
.get_started {
    background-color: var(--primary);
}

.foto {
    width: 20%;
    aspect-ratio: 1/1;
}

/*#endregion main*/

/*#region footer*/
footer {
    background-color: var(--dark);
}

/*#endregion footer*/

/*#region responsive mobile*/
@media screen and (max-width:480px) {
    .col_sm_12 {
        width: 100%;
    }

    .nav_container li:last-child {
        display: block;
    }

    .item_nav {
        display: none;
    }

}

/*#endregion responsive mobile*/

/*#region responsive tablet*/
@media screen and (max-width:769px) {

    .planning .col_sm_12 {
        width: 100%;
    }

    .col_md_6 {
        width: 50%;
    }

    .nav_container li:last-child {
        display: block;
    }

    .item_nav {
        display: none;
    }


}

/*#endregion responsive tablet*/

/*#region responsive 1200px*/

@media screen and (max-width:1200px) {
    .col_4 {
        width: calc(100% /12 *4);
    }

    .col_6 {
        width: calc(100% /12 *6);
    }
}

/*#endregion responsive 1200px*/