* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #9793e5;
    --secondary: #0084fd;
    --secondary-light: #b4ddfe;
    --accent: #fdc15f;
    --dark: #323332;
    --darker: #000;
    --light: #fffefe;

}

/*#region debug*/
.debug header {
    height: 70px;
}

/*#endregion debug*/

/*#region common*/
.container {
    width: 80%;
    margin: 0 auto;
}

/*#endregion common*/

/*#region header*/
header {
    background-color: var(--secondary);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/*#endregion header*/

/*#endregion main*/

/*#endregion main*/