* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #9793e5;
    --secondary: #0084fd;
    --secondary-light: #b4ddfe;
    --accent: #fdc15f;
    --dark: #323332;
    --darker: #000;
    --light: #fffefe;
    --light-gray: #5A6E7F;

}

/* #region debug*/
.debug header {
    height: 70px;
}

.debug .heading,
.debug .partner {
    border: 1px solid black;

}

.debug .foto {
    background-color: red;
}

.debug .get_started {
    height: 400px;
}

.debug footer {
    height: 200px;
}

/* [class^="col_"] {

    border: 1px solid black;
} */


/*region utilities*/
.container {
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_1 {
    width: calc((100% /12)*1);
}

.col_2 {
    width: calc((100% /12)*2);
}

.col_3 {
    width: calc((100% /12)*3);
}

.col_4 {
    width: calc((100% /12)*4);
}

.col_5 {
    width: calc((100% /12)*5);
}

.col_6 {
    width: calc((100% /12)*6);
}

.col_7 {
    width: calc((100% /12)*7);
}

.col_8 {
    width: calc((100% /12)*8);
}

.col_9 {
    width: calc((100% /12)*9);
}

.col_10 {
    width: calc((100% /12)*10);
}

.col_11 {
    width: calc((100% /12)*11);
}

.col_12 {
    width: 100%;
}

.button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.m_b {
    margin-bottom: 2rem;
}

/*#endregion utilities*/

/*#region common*/
body {
    font-family: 'PT Sans', sans-serif;

}

body p {
    line-height: 2;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/*#endregion common*/

/*#region header*/
header {
    background-color: var(--secondary);
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;

}

.nav_container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--light);
}

.nav_container li {
    margin-left: 2rem;
}

.nav_container li a {
    color: var(--darker);
    background-color: var(--light);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.nav_container li:last-child {
    display: none;
}


/*#endregion header*/

/*#endregion main*/
.planning,
.benefits,
.get_started {
    background-color: var(--primary);
}

.foto {
    width: 30%;
    aspect-ratio: 1/1;
}

.demo .col_8,
.demo .col_4 {
    padding: 1rem 0.5rem 0 0.5rem;
}

.pd_container {
    display: flex;
    background-color: var(--secondary-light);
    border-radius: 30px;
    padding: 1rem 1rem 0 1rem;
    height: 100%;
}

.pd_container_sm {
    text-align: center;
    background-color: var(--secondary-light);
    border-radius: 30px;
    padding: 2rem 1rem 1rem 1rem;
    height: 100%;
}


.application {
    width: 50%;
}

.img_application {
    padding: 3rem 0 0 3rem;
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.img_application img {
    width: 100%;
}

.demo p {
    font-weight: 600;
    color: var(--light-gray);
    margin-bottom: 2rem;
}

.demo h3 {
    color: var(--secondary);
}

.application a {
    background-color: var(--secondary);
    padding: 0.5rem 3rem;
    color: var(--light);

}

.fa-brands.fa-apple {
    margin-right: 1rem;
}

.demo col_4 i {
    width: 70px;

}

.pd_container_sm i {
    color: var(--secondary);
}

.planning_content {
    padding: 4rem 8rem;
    color: var(--light);
}

.planning_content img {
    width: 100%;
    margin-bottom: 8rem;
}

.planning_description h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.app_development_container {
    background-color: var(--light);
    border-radius: 50px;
    padding: 2rem 2.5rem 4rem 2.5rem;
    margin-left: 2rem;
    width: 70%;
    text-align: center;
}

.app_development_container img {
    width: 60%;
}

.small_icon_arrow {

    color: var(--darker);
    background-color: var(--primary);
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
    border-radius: 50%;
}

.app_development_description {
    margin-bottom: 3rem;
}

.container-fl {
    display: flex;
    align-items: flex-end;
}

.heading {
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.heading h1 {
    color: var(--primary);

}

.partner {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    border-radius: 40px;
    color: var(--light);
}

.bio {
    display: block;
    padding: 0 1rem 0 0;
    margin-left: 2rem;
    line-height: 2;
}

.testimonial_name {
    margin-top: 1rem;
}

.foto1,
.foto2,
.foto3 {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
}

.foto1 {
    background-image: url(./img/testimonial1.jpg);
}

.foto2 {
    background-image: url(./img/testimonial2.jpg);
}

.foto3 {
    background-image: url(./img/testimonial3.jpg);
}

.benefits {
    background-color: var(--primary);
}

.benefits h1 {
    color: var(--light);
}

.benefits .col_4 {
    padding: 0.5rem;
}

.benefits_card {
    background-color: var(--light);
    border-radius: 30px;
    padding: 2rem;
}

.button_more {
    background-color: var(--primary);
    color: var(--light);
    font-size: 15px;
    padding: 0.5rem 2rem;
    letter-spacing: 4px;
    font-weight: 700;
}

.benefits_card h2,
.number_card {
    color: var(--primary);
}

.benefits_card h2 {
    margin: 1.5rem 0 1.5rem 0;
}

.number_card {
    font-size: 3rem;
    font-weight: 700;
}

.benefits_card p {
    margin-bottom: 2rem;
}



/*#endregion main*/

/*#region footer*/
footer {
    background-color: var(--dark);
}

/*#endregion footer*/

/*#region responsive 1200px*/

@media screen and (max-width:1200px) {
    .col_4 {
        width: calc(100% /12 *4);
    }

    .col_6 {
        width: calc(100% /12 *6);
    }
}

/*#endregion responsive 1200px*/

/*#region responsive tablet*/
@media screen and (max-width:769px) {
    .container {
        width: 90%;
    }

    .nav_container {
        width: 90%;
    }

    .planning .col_sm_12 {
        width: 100%;
    }

    .col_md_6 {
        width: 50%;
    }

    .nav_container li:last-child {
        display: block;
    }

    .item_nav {
        display: none;
    }

    .application {
        width: 100%;
    }

    .pd_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .img_application {
        padding: 3rem 0 0 0;
        width: 50%;
    }

    .planning_content {
        padding: 0;

    }

    .planning_description h2 {
        font-size: 3.5rem;
    }

    .app_development_container {
        margin-top: 1rem;
        width: 100%;
        margin-left: 0;
    }

    .app_development_container img {
        width: 100%;
    }

    .foto {
        width: 100%;
    }
}


/*#region responsive mobile*/
@media screen and (max-width:480px) {
    .col_sm_12 {
        width: 100%;
    }

    .nav_container {
        width: 90%;
    }

    .nav_container li:last-child {
        display: block;
    }

    .item_nav {
        display: none;
    }

    .img_application {
        width: 100%;

    }

    .planning_content {
        padding: 0;
    }

    .planning_description h2 {
        font-size: 2.5rem;
    }

    .app_development_description h3 {
        font-size: 1.5rem;
    }

    .partner {
        flex-direction: column;
        text-align: center;
    }

    .foto {
        margin-bottom: 2rem;
    }
}

/*#endregion responsive mobile*/

/*#endregion responsive tablet*/